@model NetflixClone.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "NetflixClone";
}

<div class="movieRow">
    
    @await Html.PartialAsync("_FeaturedMovie", Model.FeturedMovie) 

    @foreach(var h in Model.AllMoviesAndCategories)
    {
        <h2>@h.Title</h2>
        <div class="movieRow--listArea">
            <div class="movieRow--list">
                @await Html.PartialAsync("_MovieList", h.ListaFilmes)
            </div>
        </div>
    }
</div>
